---
import { Icon } from 'astro-icon';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { aboutData } from '../../data/data';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
interface Item {
  title: string;
  description?: string;
  icon?: string;
  details?: string;
}
interface Portrait{
  img: ImageMetadata;
  description?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  content?: string;
  items?: Array<Item>;
  isReversed?: boolean;
  isAfterContent?: boolean;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  highlight,
  content = await Astro.slots.render('content'),
  items = [],
  isReversed = false,
  isAfterContent = false,
} = Astro.props;

---

<section class:list={[{ 'pt-0 md:pt-0': isAfterContent }, 'bg-blue-50 dark:bg-slate-800 py-14 md:py-16 scroll-mt-12']} id="about">
  <div class="mx-auto max-w-4xl">
    {
      (title || subtitle || highlight) && (
        <div class="md:mx-auto mb-4 md:mb-6 max-w-3xl text-center">
          {highlight && (
            <p
              class="mb-2 font-semibold text-primaryLight dark:text-blue-200 text-base uppercase tracking-wide"
              set:html={highlight}
            />
          )}
          {title && (
            <h2
              class="mb-4 font-heading font-bold text-4xl md:text-5xl leading-tighter tracking-tighter"
              set:html={title}
            />
          )}
          {subtitle && (
            <p class="mx-auto max-w-3xl text-muted dark:text-slate-400 text-xl sm:text-center" set:html={subtitle} />
          )}
        </div>
      )
    }
  </div>
  <div class="flex md:flex-row flex-col md:justify-center md:items-center gap-8 mx-auto p-2 md:px-8 max-w-7xl">
    <div class="self-center md:basis-1/2">
      {content && <div class="mb-12 dark:text-slate-400 text-lg" set:html={content} />}
      {
        items && (
          <div class="space-y-8">
            {items.map(({ title: title2, description, details, icon }) => (
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex justify-center items-center bg-primary rounded-full w-7 h-7 text-gray-50">
                    <Icon name={icon ? icon : 'tabler:check'} class="w-5 h-5" />
                  </div>
                </div>
                <div class="ml-4">
                  {title2 && <h3 class="font-medium dark:text-white text-lg leading-6">{title2}</h3>}
                  {description && <p class="mt-2 text-muted dark:text-slate-400" set:html={description} />}
                  { // TODO: details &&
                    <label for="readmore" >{t('shared.readmore')}</label>
                    <input type="checkbox" id="readmore" 
                    class="absolute opacity-0 checked:mt-0 w-full h-full checked:max-h-0 text-muted dark:text-slate-400 checked:translate-x-1/2 cursor-pointer" />
                    <i class="absolute bg-slate-400 mt-4 w-2 h-4 content-none before:-rotate-45 after:rotate-45 -translate-x-2 before:-translate-x-1 after:translate-x-1"></i>
                  <div class="hidden">{details}</div>}
                </div>
              </div>
            ))}
          </div>
        )
      }
    </div>
    <div aria-hidden="true" class="mt-10 md:mt-0 md:basis-1/2">
            <div class="relative">
                <img 
                  src={aboutData.aboutImage.img?.src}
                  alt={aboutData.aboutImage.alt}
                  class="bg-gray-500 bg-cover shadow-xl mx-auto rounded-full"
                  width={250}
                  height={250}
                  alt="Oli Dias"
                  sizes="(max-width: 768px) 100vw, 432px"
                />
            </div>
      </div>
  </div>
  <div class="mb-12 dark:text-slate-400 text-lg">
    {content && <span set:html={content} />}
    <br />
    <a href="/projects" class="block mt-4 text-primary underline">{t('about.projectsLink')}</a>
  </div>
</section>
